* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: NunitoSans;
  src: url("../fonts/NunitoSans_10pt-Regular.ttf");
}
button {
  cursor: pointer;
}

.dark-mode {
  color: #fff;
  background-color: #2b3844;
}
.dark-mode #details-page a {
  background-color: #2b3844;
  color: #fff;
}
.dark-mode header,
.dark-mode a {
  background-color: #2b3844;
}
.dark-mode .container .Dark {
  background-color: transparent;
}
.dark-mode main {
  background-color: #202c36;
}
.dark-mode .card,
.dark-mode .card-text {
  background-color: #2b3844;
}
.dark-mode input,
.dark-mode .States-filter {
  background-color: #2b3844;
}
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode p,
.dark-mode a {
  color: #fff;
}

body {
  transition: background 0.3s all linear;
  font-family: NunitoSans;
}
body .container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0 0 80px;
}
body header {
  position: fixed;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 1000;
  padding: 23px 0 23px 80px;
  background-color: #fff;
  width: 100%;
  margin-bottom: 70px;
}
body header .container {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 45px;
}
body header .container .Dark {
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translateX(78px);
  border: none;
  background-color: white;
}
body main {
  padding-bottom: 100px;
  background-color: #fafafa;
}
body main .container {
  padding-top: 71px;
}
body main .container .main-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  margin-top: 30px;
}
body main .container .main-top .search-Nation {
  display: flex;
  align-items: center;
  max-width: 480px;
  transform: translateX(-18px);
}
body main .container .main-top .search-Nation img {
  transform: translateX(45px);
}
body main .container .main-top .search-Nation input {
  padding: 18px 271px 18px 62px;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.0549019608);
  background-color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
}
body main .container .main-top .States-filter {
  max-width: 200px;
  transform: translateX(77px);
}
body main .container .main-top .States-filter .States-select {
  background-color: #fff;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.0549019608);
  padding: 18px;
  border: none;
  border-radius: 5px;
  color: #111517;
  outline: none;
}
body main .container .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 74px;
  width: 1280px;
}
body main .container .cards .card {
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.031372549);
  background-color: #fff;
  border-radius: 5px;
  max-width: 264px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
body main .container .cards .card img {
  border-radius: 5px 5px 0 0;
  max-width: 264px;
  width: 100%;
  height: 100%;
  height: 47.619%;
}
body main .container .cards .card-text {
  padding: 24px 0 36px 24px;
}
body main .container .cards .card-text h3 {
  font-size: 18px;
  margin-bottom: 18px;
}
body main .container .cards .card-text p {
  font-size: 14px;
  margin-bottom: 8px;
}
body main .container .cards .card-text span {
  font-weight: bold;
}

@media (max-width: 375px) {
  body {
    transition: background 0.3s ease-in;
    font-family: NunitoSans;
    background-color: white;
    color: black;
  }
  body .container {
    max-width: 343px;
    padding: 0 16px;
  }
  body header {
    margin-bottom: 80px;
  }
  body header .container {
    position: fixed;
    padding: 30px 16px 30px 0;
    left: 32px;
    justify-content: space-between;
    background-color: #fff;
    max-width: 343px;
  }
  body header .container h3 {
    font-size: 14px;
  }
  body header .container .Dark {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border: none;
  }
  body header .container .Dark p {
    font-size: 12px;
  }
  body header .container .Dark img {
    height: 12px;
    width: 12px;
  }
  body main {
    background-color: #fafafa;
  }
  body main .container {
    padding-top: 71px;
    max-width: 343px;
  }
  body main .container .main-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 48px;
  }
  body main .container .main-top .search-Nation {
    display: flex;
    align-items: center;
    padding: 14px 103px 14px 32px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.0549019608);
    border-radius: 5px;
    border: none;
    gap: 24px;
    margin-bottom: 40px;
  }
  body main .container .main-top .search-Nation input {
    border: none;
    background-color: transparent;
  }
  body main .container .main-top .States-filter {
    max-width: 200px;
  }
  body main .container .main-top .States-filter .States-select {
    background-color: #fff;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.0549019608);
    padding: 18px;
    border: none;
    border-radius: 5px;
    color: #111517;
  }
  body main .container .cards {
    max-width: 343px;
  }
  body main .container .cards .card {
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.031372549);
    background-color: #fff;
    border-radius: 5px;
    margin-left: 30px;
  }
  body main .container .cards .card img {
    border-radius: 5px 5px 0 0;
    max-width: 264px;
    width: 100%;
  }
  body main .container .cards .card-text {
    padding: 24px 0 46px 24px;
  }
  body main .container .cards .card-text h3 {
    font-size: 18px;
    margin-bottom: 18px;
  }
  body main .container .cards .card-text p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  body main .container .cards .card-text span {
    font-weight: bold;
  }
}
#details-page header {
  margin-bottom: 20px;
}
#details-page a {
  text-decoration: none;
  color: black;
  margin-top: 20px;
  font-size: 20px;
  left: 0;
  margin-left: 10px;
  margin-bottom: 100px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  transition: 0.5s;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2941176471);
}
#details-page #details {
  margin-top: 20px;
}
#details-page #details .card {
  display: flex;
  gap: 120px;
}
#details-page #details .card .details-img {
  border-radius: 5px;
  max-width: 650px;
  width: 100%;
}
#details-page #details .card .card-text {
  margin-top: 130px;
}
#details-page #details .card .card-text h3 {
  font-size: 32px;
}/*# sourceMappingURL=style.css.map */